<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-cale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>NOTES A</title>
</head>
<body>
    <p>Navigation</p>
    {{{ body }}}
    <p>Footer</p>
</body>
</html>
