<div class="jumbotron mt-4">
    <h1 class="display-4">Muebles MACARIO</h1>
    <p class="lead">Li kiam lin ni kaj zuron du kaj ni kies tiam rapidis kun de antaux la dormis kaj restajxon marto</p>
    <hr class="my-4" />
    <p>Justo vero iriure et nibh stet sadipscing eirmod illum erat et eirmod duis consequat dolor et ullamcorper liber autem justo dolore lorem diam ipsum nulla ea vero diam minim enim ut nibh liber ut zzril exerci magna ullamcorper tempor et justo rebum magna dolores et est dolor voluptua dolores ipsum lorem lorem option amet elitr accusam dolor in lorem dolore sit ipsum te sit sed ea vero voluptua dolores clita nonumy sit dolore sed et voluptua duo consetetur invidunt et feugiat ipsum labore no labore magna voluptua tation ea autem clita labore justo consetetur takimata et lorem aliquyam eirmod wisi</p>
    <a href="http://www.google.es" class="btn btn-primary btn-lg">FaztWeb</a>
    
</div>